node_modules
dist
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.tsbuildinfo

.env.production
certs/*.p8

# Local Postgres data (docker-compose volume)
.pgdata/

# Editor
.vscode/
.idea/
*.swp
